.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ff8a65;
  border-radius: 4px;
  box-sizing: border-box;
}

.input:hover {
  color: aliceblue;
  border: 1px solid #fff;
}

.colorButton {
  background: none;
  border-radius: 4px;
  border: 1px solid #ff8a65;
  transition: 0.8s;
}

.sumitButton {
  color: #ff8a65;
  width: 25%;
  cursor: pointer;
  background: none;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ff8a65;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.8s;
}

.sumitButton:hover {
  color: aliceblue;
  border: 1px solid #fff;
}
